.cozy-3raOZG .contents-2mQqc9 {
    .edited-3sfAzf {
        font-size: 0;
        opacity: .3;
        line-height: 23px;
        margin-left: 5px;
        width: 13px !important;
        height: 13px !important;
        display: inline-block;
        background-size: 100%;
        background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTMgMTcuMjVWMjFoMy43NUwxNy44MSA5Ljk0bC0zLjc1LTMuNzVMMyAxNy4yNXpNMjAuNzEgNy4wNGMuMzktLjM5LjM5LTEuMDIgMC0xLjQxbC0yLjM0LTIuMzRjLS4zOS0uMzktMS4wMi0uMzktMS40MSAwbC0xLjgzIDEuODMgMy43NSAzLjc1IDEuODMtMS44M3oiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
    }
    .scrollableContainer-2NUZem {
        width: 85%;
        background-color: var(--level2);
        box-shadow: 0 0 7px 0 var(--accent);
    }
    .autocomplete-1vrmpx {
        width: 85%;
        background-color: var(--level2) !important;
        box-shadow: 0 -3px 7px -3px var(--accent), 3px 0px 3px -3px var(--accent), -3px 0px 3px -3px var(--accent);
        .selectorSelected-1_M1WV {
            background-color: var(--level3);
            border-left: 2px solid var(--accent);
            border-radius: 0;
        }
    }
    .after_inlineCode-1KfVgj, .before_inlineCode-1G9rTK, .inlineCode-2ngu6Y {
        background: var(--level1);
    }
    .operations-36ENbA>a {
        color: var(--accent);
    }
}