/* Rich Embed */
    .embedFull-2tM8-- {
        border-radius: 0;
        border-left: none;
        border-bottom: 3px solid #000;
        background: rgba(0,0,0,0.3);
        box-shadow: var(--elevation-high);
    }
    .embed-IeVjo6 code {
        background-color: var(--level3) !important;
    }
/* Spotify Invite */
    .theme-dark .invite-18yqGF {
        background: var(--level2);
        border: none;
        .lookFilled-1Gx00P.colorGrey-2DXtkV:disabled {
            background-color: var(--level2);
        }
        .lookFilled-1Gx00P.colorGreen-29iAKY {
            background-color: var(--accent);
            color: white;
            &:hover {
                background-color: var(--accent);
                color: white;
            }
        }
    }
/* Server Invites */ 
    .wrapper-35wsBm {
        display: contents;
        .header-2BTCnc {
            display: none;
        }
        .content-2U5lSY {
            .guildIcon-lQ0uiM {
                background-color: transparent !important;
            }
            .directionColumn-35P_nr {
                max-width: fit-content;
            }
            .lookFilled-1Gx00P.colorGreen-29iAKY {
                background-color: transparent;
                background: url(https://canary.discordapp.com/assets/d2847ce….svg);
                margin-left: 20px;
                transition: all .3s ease-in-out;
                &:hover {
                    background-color: transparent;
                    transform: scale(1.3);
                }
            }
            .lookFilled-1Gx00P .contents-18-Yxp, .lookInverted-2D7oAl .contents-18-Yxp, .lookLink-9FtZy- .contents-18-Yxp, .lookOutlined-3sRXeN .contents-18-Yxp { display: none; }
        }
    }
/* Loading icon */
    .wanderingCubesItem-WPXqao {
        background: var(--accent);
    }