.embedFull-2tM8-- {
    border-radius: 0;
    border-left: none;
    border-bottom: 3px solid #000;
    background: rgba(0,0,0,0.3);
    box-shadow: var(--elevation-high);
}
.embed-IeVjo6 code {
    background-color: $level3 !important;
}