/* Rich Embed */
    .embedFull-2tM8-- {
        border-radius: 0;
        border-left: none;
        border-bottom: 3px solid #000;
        background: rgba(0,0,0,0.3);
        box-shadow: var(--elevation-high);
    }
    .embed-IeVjo6 code {
        background-color: var(--level3) !important;
    }
/* Spotify Invite */
    .theme-dark .invite-18yqGF {
        background: var(--level2);
        border: none;
        .lookFilled-1Gx00P.colorGrey-2DXtkV:disabled {
            background-color: var(--level2);
        }
        .lookFilled-1Gx00P.colorGreen-29iAKY {
            background-color: var(--accent);
            color: white;
            &:hover {
                background-color: var(--accent);
                color: white;
            }
        }
    }
/* Server Invites */ 
    .wrapper-35wsBm {
        display: contents;
        .header-2BTCnc {
            display: none;
        }
        .content-2U5lSY {
            .guildIcon-lQ0uiM {
                background-color: transparent !important;
            }
            .guildIconExpired-2Qcq05 { display: none; }
            .directionColumn-35P_nr {
                max-width: fit-content;
            }
            .lookFilled-1Gx00P.colorGreen-29iAKY {
                background-color: transparent;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNiAzNiI+PHBhdGggZmlsbD0iI0Q5OUU4MiIgZD0iTTM2IDMyYzAgMi4yMDktMS43OTEgNC00IDRINGMtMi4yMDkgMC00LTEuNzkxLTQtNHYtOWMwLTIuMjA5Ljc5MS0zIDMtM2gzMGMyLjIwOSAwIDMgLjc5MSAzIDN2OXoiLz48cGF0aCBmaWxsPSIjNjYyMTEzIiBkPSJNMjUgMjBjMCAzLjg2Ni0zLjEzNCA3LTcgN3MtNy0zLjEzNC03LTdoMTR6Ii8+PHBhdGggZmlsbD0iI0MxNjk0RiIgZD0iTTQgMzZoMjhjMi4yMDkgMCA0LTEuNzkxIDQtNEgwYzAgMi4yMDkgMS43OTEgNCA0IDR6Ii8+PHBhdGggZmlsbD0iIzc3QjI1NSIgZD0iTTI2LjcxNiA4aC00Ljc4M1YyYzAtMS4xMDUtLjg5Ni0yLTItMmgtNC4wMDFjLTEuMTA0IDAtMS45OTkuODk2LTEuOTk5IDJ2Nkg5LjE0OGMtMS4yMjMgMC0xLjUxNi42MjMtLjY1MSAxLjQ4OWw3Ljg2MyA3Ljg2M2MuODY1Ljg2NSAyLjI4Ljg2NSAzLjE0NiAwbDcuODYzLTcuODYzQzI4LjIzMiA4LjYyMyAyNy45NCA4IDI2LjcxNiA4eiIvPjwvc3ZnPg==);
                margin-left: 20px;
                transition: all .3s ease-in-out;
                transform: scale(.7);
                &:hover {
                    background-color: transparent;
                    transform: scale(.9);
                }
            }
            .lookFilled-1Gx00P .contents-18-Yxp, .lookInverted-2D7oAl .contents-18-Yxp, .lookLink-9FtZy- .contents-18-Yxp, .lookOutlined-3sRXeN .contents-18-Yxp { display: none; }
        }
    }
/* Loading icon */
    .wanderingCubesItem-WPXqao {
        background: var(--accent);
    }