.notice-2FJMB4 {
    font-weight: 100;
    text-align: center;
    align-self: center;
    position: absolute;
    padding: 2px 33px 2px 16px;
    z-index: 101;
    border-radius: 50px;
    top: 6vh;
    animation: open-updates 400ms ease;
    box-shadow: var(--elevation-low);
}

#pluginNotice {
    animation: open-updates 400ms ease;
    border-radius: 50px !important;
    box-shadow: var(--elevation-low);
}