.form-2fGMdU {
    background-color: var(--level1) !important;
    width: 102% !important;
    &::before {
        display: none;
    }
    .scrollableContainer-2NUZem {
        background-color: var(--level2) !important;
        box-shadow: 0 0px 7px 0 var(--accent);
        margin-top: 9px;
    }
    .attachWrapper-2TRKBi {
        border: none;
    }
    .channelTextArea-rNsIhG {
        background-color: var(--level2);
        margin: 0;
        margin-bottom: 15px;
        width: 99%;
    }
    .autocomplete-1vrmpx {
        background-color: var(--level2) !important;
        box-shadow: 0 -3px 7px -3px var(--accent), 3px 0px 3px -3px var(--accent), -3px 0px 3px -3px var(--accent);
        .selectorSelected-1_M1WV {
            background-color: var(--level3);
            border-left: 2px solid var(--accent);
            border-radius: 0;
        }
    }
}
/* Better Typing Indicator Credit to nox devs */
    .chat-3bRxxu form {
        .typing-2GQL18 {
            background: var(--level2) !important;
            bottom: 87%;
            padding-left: 20px;
            width: fit-content;
            padding-right: 20px;
            padding-top: 0px;
            border-radius: 5px 5px 0 0;
            margin-left: 15px;
            color: white;
            opacity: 1;
            transition: all 200ms ease;
            overflow-y: hidden;
            z-index: 0;
            box-shadow: 0 -3px 7px -3px var(--accent), 3px 0px 3px -3px var(--accent), -3px 0px 3px -3px var(--accent);
        }
    }

/* Focused Boxes */
    .input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
        border-color: transparent;
    }