.container-3npvBV {
    position: absolute;
    right: 15vw;
    top: -2px;
}
.separator-42rNt0, .emojiButton-jE9tXC { display: none; }
.wrapper-2aW0bm {
    background-color: var(--tp);
    box-shadow: none;
    &:hover {
        box-shadow: none;
    }
}
.button-1ZiXG9 {
    opacity: .5;
    &:hover {
        opacity: 1 !important;
        background-color: var(--tp);
    }
}
.button-1ZiXG9.selected-LCBEAU {
    color: white;
    background-color: transparent;
    opacity: 1;
}
.full-motion .wrapper-2aW0bm:hover { box-shadow: none; }