.toolbar-2bjZV7 { height: 32px !important; max-width: none !important; background-color: $level2; }
.active-2HPddW, .hover-28QbSq:hover { background-color: $tp; }
.active-2HPddW .icon-KgGMGo, .hover-28QbSq:hover .icon-KgGMGo { color: $accent; }
/* Channel topic and name */
    .container-1r6BKw.themed-ANHk51 { background-color: $level2 !important; }
    .children-19S4PO:after { display: none; }
    .theme-dark .root-1gCeng { background-color: $level1; }