.container-3npvBV { right: 15rem; top: -2px; }
.separator-42rNt0, .emojiButton-jE9tXC { display: none; }
.wrapper-2aW0bm {
    background-color: $tp;
    box-shadow: none;
    &:hover {
        box-shadow: none;
    }
}
.button-1ZiXG9 {
    opacity: .5;
    &:hover {
        opacity: 1 !important;
        background-color: $tp;
    }
}