/*hover == false*/
[class^="toolbar-"]{ max-width: 25px; transition: max-width 2s ease-in; height: 100%; }
[class^="toolbar-"]::before{ color: $accent; content: ">"; font-size: 24px; margin: 0 8px; opacity: 0.5 }
/*hover == true*/
[class^="toolbar-"]:hover{ max-width: 100%; transition: max-width 1s ease-out; }
[class^="toolbar-"]:hover::before{ content: "<"; font-size: 24px; margin: 0 8px; opacity: 1; }
.toolbar-2bjZV7 { height: 32px !important; max-width: none !important; background-color: $level2; }
.active-2HPddW, .hover-28QbSq:hover { background-color: $tp; }
.active-2HPddW .icon-KgGMGo, .hover-28QbSq:hover .icon-KgGMGo { color: $accent; }
/* Channel topic and name */
    .container-1r6BKw.themed-ANHk51 { background-color: $level2 !important; }
    .children-19S4PO:after { display: none; }
    .theme-dark .root-1gCeng { background-color: $level1; }