.input-cIJ7To, .searchBox { background-color: var(--level3); box-shadow: 0 0px 7px 0 var(--accent); }
/* Toasts */
    .powercord-toast {
        background-color: var(--level2);
        .header {
            background-color: var(--level3);
        }
        .contents {
            .inner {
                background-color: var(--tp);
                border: none;
            }
        }
    }
/* Plugins */
    .discordTweaksSettings .tweaks .tweakCard { background-color: var(--level2); }
/* Spotify */
    .powercord-spotify-playlist {
        width: 100%;
        border: none;
        height: 73px;
        background: var(--level1);
        .image {
            margin-right: 10px;
            border-radius: 50%;
            border: none;
            margin-left: 15px;
            height: 60px;
            width: 60px;
        }
        .name {
            font-size: 30px;
            font-weight: 400;
            margin-right: 5px;
        }
    }
/* Badges */ 
    div[class^=topSectionNormal-] .powercord-badge.donor {
        background-image: var(--custom);
        background-repeat: no-repeat;
        height: 19px;
        width: 21px;
        transform: scale(1.2);
    }