.input-cIJ7To, .searchBox { background-color: var(--level3); box-shadow: 0 0px 7px 0 var(--accent); }
/* Toasts */
    .powercord-toast {
        background-color: var(--level2);
        .header {
            background-color: var(--level3);
        }
        .contents {
            .inner {
                background-color: var(--tp);
                border: none;
            }
        }
    }
/* Plugins */
    .discordTweaksSettings .tweaks .tweakCard { background-color: var(--level2); }