.container-VSDcQc .header-2bNvm4 { background-color: var(--level3); }
.theme-dark .container-VSDcQc .sectionTag-pXyto9 { background-color: var(--level2); border-radius: 0; }
.theme-dark .row-rrHHJU.selected-1pIgLL { border-left: 2px solid var(--accent); background: var(--level3); }
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile]:after { display: none; }
#app-mount .avatarHint-1qgaV3 .avatarHintInner-Dco91E { width: 98% !important; height: 98% !important; margin-top: 1px; margin-left: 1px; }

.userPopout-3XzG_A {
    .headerNormal-T_seeN {
        background-color: var(--level2);
    }
    .headerPlaying-j0WQBV {
        background-color: rgba($color: #7289da, $alpha: .8);
    }
    .headerSpotify-zpWxgT {
        background-color: rgba($color: #1db954, $alpha: .8);
    }
    .headerStreaming-2FjmGz {
        background-color: rgba($color: #593695, $alpha: .8) !important;
    }
    .headerXbox-3G-4PF {
        background-color: rgba($color: #107c10, $alpha: .8);
    }
    .bodyInner-245q0L {
        background-color: var(--level1);
    }
    .role-2irmRk {
        border: none !important;
        backdrop-filter: blur(10px);
        padding: 16px 10px;
    }
    .roleCircle-3xAZ1j {
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: inherit;
            opacity: 0.43;
            z-index: 0;
            pointer-events: none;
            border-radius: 5px;
        }
    }
    .addButton-pcyyf6 {
        padding: 12px 5px !important;
    }
    .note-3kmerW textarea:focus {
        background-color: var(--level2);
    }
    .quickMessage-1yeL4E {
        background-color: var(--level2);
        border-color: var(--level2);
    }
    .footer-1fjuF6 {
        border: none;
        background-color: var(--level1);
        .wumpusTooltip-65YlMT {
            background-color: var(--level3);
            color: white;
            &::after {
                border-color: transparent var(--level3) transparent transparent;
            }
        }
    }
}