.theme-dark .modal-yWgWj- {
    background-color: var(--level2)!important;
    .phoneField-38N1bJ {
        background-color: var(--level1);
        .countryButton-3xq3Ts {
            background-color: var(--level2);
        }
        .inputField-aNPXsv {
            background-color: transparent;
        }
    }
}