.messagesPopoutWrap-1MQ1bW {
    background-color: var(--level2);
    max-height: 750px !important;
    .header-ykumBX {
        background-color: var(--level3);
    }
    .messageGroupWrapper-o-Zw7G {
        background: var(--level1);
        .cozy-3raOZG .messageContent-2qWWxC {
            margin-right: 0 !important;
        }
        .avatar-1BDn8e {
            margin-top: 7px;
        }
        .imageWrapper-2p5ogY img {
            max-width: 320px;
        }
        .jumpButton-3DTcS_ {
            background-color: var(--accent);
            color: white;
            opacity: .5;
            &:hover {
                opacity: 1;
            }
        }
    }
    .footer-1kmXd4 {
        background-color: var(--level3);
    }
}