.quickswitcher-3JagVE {
    background: $level2;
    border-radius: 5px;
    box-shadow: none;
    .tutorialMessages-12mfId { color: $accent; }
    .scroller-zPkAnE { background: none; }
    .scrollerOuter-3FLELE {
        margin-right: -4px !important;
    }
    .input-2VB9rf {
        background: $accent;
        box-shadow: none;
        width: 100%;
        left: 0;
        animation: quickswitcher2 400ms cubic-bezier(0.7, 0, 0, 1);
    }
    .result-oB0z-- {
        transition: 100ms ease;
        overflow: hidden;
        &::after {
            content: "";
            z-index: 10;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0;
            transition: 200ms ease;
            box-shadow: none;
            width: 40px;
            border-radius: 0 2px 2px;
            -ms-transform: translate(40px);
            transform: translate(40px);
            background-color: $accent;
            background-repeat: no-repeat;
            background-position: 40%;
            background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgwVjB6IiBmaWxsPSJub25lIi8+ICAgIDxwYXRoIGQ9Ik0xMSA5bDEuNDIgMS40Mkw4LjgzIDE0SDE4VjRoMnYxMkg4LjgzbDMuNTkgMy41OEwxMSAyMWwtNi02IDYtNnoiLz48L3N2Zz4=);
        }
    }
    .resultFocused-3aIoYe {
        background: $level3;
        transition: all 50ms ease-in-out;
        &::after {
            opacity: 1;
            transition: 100ms ease 100ms;
            -ms-transform: translate(0px);
            transform: translate(0px);
            transition: 200ms cubic-bezier(0, 0, 0, 1);
        }
    }
    .keybindShortcut-1BD6Z1 span {
        box-shadow: none;
        background-color: $accent !important;
    }
}
.container-3qKHyN {
    margin-top: 100px; 
    animation: opacity .2s ease, quickswitcher .3s cubic-bezier(0.7, 0, 0, 1); 
    animation-fill-mode: both; 
}