.theme-dark .sidebar-1-SQro {
    background-color: var(--level2);
}
.theme-dark .reactionSelected-1pqISm {
    background-color: var(--mention);
    border-left: 2px solid var(--accent);
    border-radius: 0;
}
.theme-dark .container-1If-HZ, .theme-dark .reactors-Blmlhw {
    background-color: var(--level1);
}
.theme-dark .remove-3V-yj8 {
    color: indianred;
}
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track { background-color: var(--level2); }