.theme-dark .root-1gCeng {
    background-color: var(--level1);
    box-shadow: none !important;
    .title-10HEtO {
        color: var(--accent);
    }
    .colorHeaderSecondary-3Sp3Ft {
        color: white;
    }
    .icon-3U3Ats {
        color: var(--accent);
    }
    .h5-18_1nd {
        color: white;
        text-align: center;
    }
    .divider-2gQcba {
        border: 1px solid var(--accent);
    }
    .channelsWrapper-2HhUER, .rolesWrapper-2yOx9S {
        background-color: var(--level2);
    }
    .channel-OaJouZ {
        color: var(--text-muted);
    }
}