.theme-dark .modal-yWgWj- {
    background-color: var(--level2);
    .theme-dark .preview-yX6Nx7 {
        background-color: var(--level3);
        .modal-yWgWj- .button-38aScr {
            display: none;
        }
        .channelTextArea-2VhZ6z {
            box-shadow: 0 0px 7px 0 var(--accent);
            .scrollableContainer-2NUZem {
                background-color: var(--level3);
            }
        }
    }
}