.theme-dark .uploadModal-2ifh8j {
    background-color: var(--level1);
    width: 630px;
    min-height: 430px;
    .icon-kyxXVr.image-2yrs5j {
        width: 590px !important;
        height: 332px !important;
        margin-top: 16px !important;
    }
    .inner-3nWsbo {
        .comment-4IWttf { 
            z-index: 5;
            position: absolute;
            bottom: 2px;
            left: 0px;
            width: 251px;
            .scrollableContainer-2NUZem.webkit-HjD9Er {
                height: 45px;
                background-color: var(--level2);
                box-shadow: none;
            }
        }
        .label-3aiqT2 {
            display: none;
        }
    }
    .labelForward-1wfipV {
        padding-left: 8px;
        line-height: 14px !important;
        font-size: 12px;
    }
    label.checkboxWrapper-SkhIWG.alignCenter-MrlN6q {
        background-color: var(--level2);
        color: #fff;
        height: 45px !important;
        margin-right: 10px;
        max-width: 145px;
        padding: 0px 20px;
        border-radius: 5px;
        margin-left: 260px;
    }
    .checked-3_4uQ9 {
        background-color: var(--accent);
        border-color: var(--accent) !important;
        polyline {
            stroke: white;
        }
    }
    .lookLink-9FtZy-.colorPrimary-3b3xI6 {
        background-color: var(--level2);
        margin-right: 10px;
        border-radius: 5px;
        height: 44px;
    }
    .lookFilled-1Gx00P.colorBrand-3pXr91 {
        height: 43px;
        background-color: var(--accent);
    }
    .checkbox-1ix_J3.flexCenter-3_1bcw.flex-1O1GKY.justifyCenter-3D2jYp.alignCenter-1dQNNs.box-mmYMsp {
        border: solid 3px var(--accent);
        border-radius: 50px;
    }
    .footer-3mqk7D {
        box-shadow: none;
        background-color: var(--tp);
    }
}

/* Edit Uploads Plugin Button */
    #EditUploadsEditButton span {
        font-size: 113%;
        position: absolute;
        margin-top: -31px;
        margin-right: 0;
        margin-left: -80px;
        border-radius: 7px;
        background-color: var(--level2);
        width: 55px;
        height: 20px;
    }