#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div > div > div > img { display: none; }
.theme-dark .pageWrapper-1PgVDX {
    background-color: var(--level1);
    .input-cIJ7To { box-shadow: none; }
    .searchBox-3Y2Vi7 { background-color: var(--level2); }
    .css-1wqqa50-container { background-color: var(--level2); }
    .css-1rckt42-menu { background-color: var(--level2); }
    .css-12o7ek3-option { background-color: var(--level3); }
    .card-3DjzTQ {
        background: var(--level2);
        &:hover {
            background: var(--level3);
        }
    }
    .button-38aScr:disabled, .endButton-3wGL3C {
        background-color: var(--level2);
    }
    .activeButton-1BJAiN {
        background-color: var(--accent);
    }
    .pageButton-MknE-_ {
        &:hover {
            background-color: var(--level2);
        }
    }
}