/* Store */
.scroller-1JpcIc { background-color: $level1; }
.overlappingBorder-1-XPGl { border: 3px solid $accent; }
.theme-dark .root-1bFE0x { background-color: $level2; }
.theme-dark .bodySection-jqkkIP, .theme-light .bodySection-jqkkIP { border: none; background-color: $level3; }
.theme-dark .tabSelected-3IK-Xf { border-bottom-color: $accent; }