/* Store */
.scroller-1JpcIc { background-color: var(--level1); }
.overlappingBorder-1-XPGl { border: 3px solid var(--accent); }
.theme-dark .root-1bFE0x { background-color: var(--level2); }
.theme-dark .bodySection-jqkkIP, .theme-light .bodySection-jqkkIP { border: none; background-color: var(--level3); }
.theme-dark .tabSelected-3IK-Xf { border-bottom-color: var(--accent); }
.theme-dark .price-NUANu6, .theme-light .price-NUANu6 { background-color: var(--accent); }
.theme-dark .content-35aVm0 {
    background-color: var(--level2);
    .theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 { background-color: var(--level1); }
}
.theme-dark .row-1bU71H { background-color: var(--level2); color: white; }