.scroller-2TZvBN { background-color: var(--level2) !important; }
#app-mount .listItemWrapper-3X98Pc .childWrapper-anI2G9 { background-color: var(--tp) !important; }
.wrapper-1Rf91z .scroller-2FKFPG .wrapper-21YSNc .expandedFolderBackground-2sPsd- { background-color: var(--level1); }
.circleIconButton-jET_ig {
	background-color: var(--tp);
    color: var(--accent);
    transition: all .3s ease-in-out;
    &:hover {
        background-color: var(--tp);
        color: var(--accent);
        transform: scale(1.3);
    }
}
.circleIconButton-jET_ig.selected-ugP_am {
    background-color: var(--tp);
    color: var(--accent);
    transform: scale(1.3);
}
/* Custom icon */
    .childWrapper-anI2G9 { margin-bottom: 0; }
    .listItem-2P_4kh:nth-child(1) .listItemWrapper-3X98Pc .wrapper-25eVIn svg foreignObject .wrapper-1BJsBx .childWrapper-anI2G9 .homeIcon-tEMBK1 {
        background: url(https://i.imgur.com/wZAVlUw.png);
        background-size: 170%;
        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
        height: 30px;
        margin-top: -2px;
    }
    .homeIcon-tEMBK1 path { fill: var(--tp); }
/* Mention Notifications */
    .wrapper-232cHJ, .numberBadge-2s8kKX { border-radius: 3px; }