/* Colors */
    $level1: rgb(42, 42, 42);
    $level2: rgb(32, 32, 32);
    $level3: rgb(24, 24, 24);
    $accent: rgb(170, 40, 22);
    $tp: transparent;
/* Chat */
    $chat-avatar-size: 40px;
    $chat-avatar-shape: 10px;
/* Channels and Members */
    $channel-width: 49px;
    $channel-width-hover: 220px;
    $members-width: 49px;
    $members-width-hover: 200px;
    $space-between-channels: 5px;



/* Things */
    $version: 'v2'