.appMount-3lHmkl, body { background-color: var(--level3); }
.canvas-3XuBXe, .fallbackImage-31Sk4m { display: none; }
.image-2jyRAK.loaded-3PtF_J { display: none; }
.rightSplit-2US0xy {
    background: url(https://i.imgur.com/YsEzsm2.png) left;
    background-repeat: space;
    background-size: 29%;
}
.theme-dark.authBox-hW6HRx {
    color: white;
    background-color: var(--level1);
    margin-left: 7%;
    .lookFilled-1Gx00P.colorBrand-3pXr91 {
        background-color: var(--accent);
    }
    .lookLink-9FtZy-.colorBrand-3pXr91 {
        color: var(--accent);
    }
}