/* Fly in Voice Chat buttons */
    /* Voice and settings */
    .container-3baos1 .noWrap-3jynv6 { width: 0px; opacity: 0; pointer-events: none; transition: all .5s ease-in-out; }
    .container-3baos1:hover .noWrap-3jynv6 { width: 80px; opacity: 1; pointer-events: all; }
/* Rp stream */
    .activityPanel-28dQGo .actions-aUdUfC { width: 0; opacity: 0; pointer-events: none; transition: all .5s ease-in-out; }
    .activityPanel-28dQGo:hover .actions-aUdUfC { width: 30px; opacity: 1; pointer-events: all; margin-right: 10px; }
/* Go live and dc from voice */
    .container-1giJp5 .subtext-3CDbHg { max-width: 150px !important; transition: all .3s ease-in-out; margin-left: 41px; }
    .container-1giJp5:hover .subtext-3CDbHg { max-width: 100px !important; }
    .container-1giJp5 .button-14-BFJ { width: 0px; opacity: 0; pointer-events: none; transition: all .5s ease-in-out; }
    .container-1giJp5:hover .button-14-BFJ { width: 30px; opacity: 1; pointer-events: all; }