/* Fly in Voice Chat buttons */
    /* Voice and settings */
    .container-3baos1 .noWrap-3jynv6 { width: 0px; opacity: 0; pointer-events: none; transition: all .5s ease-in-out; }
    .container-3baos1:hover .noWrap-3jynv6 { width: 80px; opacity: 1; pointer-events: all; }

    .container-1giJp5 {
        .subtext-3CDbHg { max-width: 80px; margin-left: 43px; }
        .labelWrapper-Pniq53 { max-width: 80px; }
    }