/*Plugin Bullshit */
    /* BetterImageViewer */
    .BIV-left:not(.BIV-disabled), .BIV-right:not(.BIV-disabled) {
        &:hover {
            background-color: var(--tp)
        }
    }
    /* .BIV-left { left: 6%; }
    .BIV-info { left: 12%; bottom: 19%; }
    .BIV-info-extra { left: 72%; height: unset; bottom: 19%; } */
/* Read All */
    .childWrapper-anI2G9 { height: 40px; width: 40px; background-color: var(--tp) !important; margin-bottom: 4px; color: white; opacity: .7; text-align: center; }
    .bd-guild-separator { display: none; }
/* TypingIndicator */
    .typingindicator-guild, .typingindicator-dms, .typingindicator-folder { background-color: rgba(0, 0, 0, 0); box-shadow: none; }
    .typingindicator-guild { right: -6px; bottom: 1px; }
    .typingindicator-folder { right: -5px; bottom: 12px; }
    .typingindicator-dms { right: 0px; }
/* Custom CSS */
    .cm-s-shadowfox.CodeMirror { background-color: var(--level2); height: 700px; }
    .cm-s-shadowfox .CodeMirror-gutters { background-color: var(--level3); border: none; }
/* Personal Notes */
    .theme-dark .themedPopout-1TrfdI {
        background-color: var(--level2);
        border: none;
    }
    .theme-light .quickSelectPopout-u2dtIf, .theme-dark .quickSelectPopout-u2dtIf {
        background-color: var(--level2)
    }
    .quickSelectPopout-u2dtIf .quickSelectPopoutOption-opKBx9.selected {
        color: var(--interactive-active);
        background-color: var(--level1);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 2px solid var(--accent);
    }
    .top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ, .top-28JiJ- .themed-OHr7kt.item-PXvHYJ:active {
        border-bottom-color: var(--accent);
    }