/*Plugin Bullshit */
    /* BetterImageViewer */
    .BIV-left:not(.BIV-disabled), .BIV-right:not(.BIV-disabled) {
        &:hover {
            background-color: $tp
        }
    }
    /* .BIV-left { left: 6%; }
    .BIV-info { left: 12%; bottom: 19%; }
    .BIV-info-extra { left: 72%; height: unset; bottom: 19%; } */
/* Read All */
    .childWrapper-anI2G9 { height: 40px; width: 40px; background-color: $tp !important; margin-bottom: 4px; color: white; opacity: .7; text-align: center; }
    .bd-guild-separator { display: none; }
/* TypingIndicator */
    .typingindicator-guild, .typingindicator-dms, .typingindicator-folder { background-color: rgba(0, 0, 0, 0); box-shadow: none; }
    .typingindicator-guild { right: -6px; bottom: 1px; }
    .typingindicator-folder { right: -5px; bottom: 12px; }
    .typingindicator-dms { right: 0px; }
/* Custom CSS */
    .cm-s-shadowfox.CodeMirror { background-color: $level2; height: 700px; }
    .cm-s-shadowfox .CodeMirror-gutters { background-color: $level3; border: none; }