@import url("https://gibbu.github.io/BetterDiscord-Themes/RadialStatus/base.css");

:root {
    /* Radial Status */
        --rs-small-spacing: 0px; /* spacing between avatar and status */
        --rs-large-spacing: 0px; /* spacing between avatar and status for user popouts & modals/profiles */
        --rs-width: 2px; /* Width/thickness of status border */
        --rs-online-color: var(--online); /* color for online status */
        --rs-idle-color: var(--idle); /* color for idle status */
        --rs-dnd-color: var(--dnd); /* color for dnd status */
        --rs-offline-color: $tp; /* color for offline status */
        --rs-invisible-color: var(--invisible); /* color for invisible status - Note this will only show for your own invisibility */
        --rs-streaming-color: var(--streaming); /* color for streaming status */
        --rs-avatar-shape: 50%;
}

/* Temp Fix for Radial Status */
    .userInfo-2zN2z8 { padding-top: 5px; padding-left: 2px; }