/* Dev Tag */
    .avatar-1BDn8e[src*="146040787891781632"]+h2>span.username-1A8OIy:after {
        color: white!important;
        background-color: var(--accent);
        content: "Rio Dev";
        font-size: 12px;
        font-weight: 500;
        height: 14px;
        padding: 2px 4px 1px 5px;
        border-radius: 4px;
        text-transform: capitalize;
        line-height: 12px;
        margin-left: 4px;
        display: inline-block;
    }

/* Contributer Tags */
    .avatar-1BDn8e[src*="476812566530883604"]+h2>span.username-1A8OIy:after { /* [HV]Kurasad#2521 */
        color: white!important;
        background-color: var(--accent);
        content: "Rio Contributor";
        font-size: 12px;
        font-weight: 500;
        height: 14px;
        padding: 2px 4px 1px 5px;
        border-radius: 4px;
        text-transform: capitalize;
        line-height: 12px;
        margin-left: 4px;
        display: inline-block;
    }
    .avatar-1BDn8e[src*="453416817256431618"]+h2>span.username-1A8OIy:after { /* KelsoKay™#6676 */
        color: white!important;
        background-color: var(--accent);
        content: "Rio Contributor";
        font-size: 12px;
        font-weight: 500;
        height: 14px;
        padding: 2px 4px 1px 5px;
        border-radius: 4px;
        text-transform: capitalize;
        line-height: 12px;
        margin-left: 4px;
        display: inline-block;
    }