.withFrame-haYltI { height: 16px; margin-top: 4px; background-color: var(--level2) !important; }
.typeWindows-1za-n7 { background-color: var(--tp); }
.winButton-iRh8-Z { top: 1px; margin-right: 8px; /* change this to adjust spacing */ opacity: 0.5; border-radius: 50%; width: 12px; height: 12px; }
.winButton-iRh8-Z svg { display: none; }
.winButtonClose-1HsbF- { background-color: #f04747; }
.winButtonClose-1HsbF-:hover { opacity: 1; }
.winButtonMinMax-PBQ2gm:nth-child(3) { background-color: #43b581; }
.winButtonMinMax-PBQ2gm:nth-child(4) { background-color: #faa61a; }
.winButtonMinMax-PBQ2gm:hover { opacity: 1; }
.strikethrough-3Wiitd { display: block !important; }
/* Wordmark */
    .wordmark-2iDDfm svg path{ display: none }