.theme-dark .button-2CgfFz {
    background-color: var(--tp);
    top: 0;
    right: 0;
    box-shadow: none;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: var(--tp);
        box-shadow: none;
        transform: scale(1.5);
    }
}
.scroller-305q3I { background-color: var(--level1); }
/* Auditlog */
    .contentRegion-3nDuYy { background-color: var(--level1); }
    .theme-dark .headerClickable-2IVFo9,
    .theme-dark .headerDefault-1wrJcN {
        background-color: var(--level2);
        border: none;
    }
    .theme-dark .headerExpanded-CUEwZ5 {
        background-color: var(--level3);
    }
    .theme-dark .auditLog-3jNbM6 {
        color: white;
        border: none;
    }
    .theme-dark .changeDetails-bk98pu {
        background-color: var(--level2);
    }