.sidebarRegionScroller-3MXcoP { background-color: var(--level2); }
.contentRegionScroller-26nc1e { background-color: var(--level1); }
.cardPrimary-1Hv-to, .cardPrimaryEditable-3KtE4g { background-color: var(--level2); }
.theme-dark .keybind-KpFkfr { color: var(--tp); }
.theme-dark .closeButton-1tv5uR {
    border: none;
    &:hover {
        transform: scale(1.2);
        transition: all .3s ease-in-out;
    }
}
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div:nth-child(3) > div > div.contentRegion-3nDuYy > div > div > div > div > div > div > div.closeButton-1tv5uR > svg {
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div:nth-child(3) > div > div.contentRegion-3nDuYy > div > div > div > div > div > div > div.closeButton-1tv5uR > svg > g {
    fill: #f04747;
}
.cardPrimaryOutline-29Ujqw { background-color: var(--level2); border: none; }
.theme-dark .paymentPane-3bwJ6A { background-color: var(--level2); }
.theme-dark .paginator-166-09 { background: var(--level2); }
.theme-dark .bottomDivider-1K9Gao { border: none; }
.theme-dark .payment-xT17Mq { background-color: var(--level2) }
.theme-dark .hoverablePayment-Yc6mK7:hover { background-color: var(--level3); }
.theme-dark .expandedInfo-3kfShd { background-color: var(--level3); }
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 { background-color: var(--level2); }
.theme-dark .codeRedemptionRedirect-1wVR4b { background-color: var(--level2); border: none; }
.theme-dark .pageButtonNext-V2kUq0, .theme-dark .pageButtonPrev-1Y-47D { border-color: var(--level3); }
.theme-dark .pageIndicator-1gAbyA { border-color: var(--level3); }
.detailsBlock-FoDTGA { background-color: var(--level2); }
.theme-dark .lookFilled-1h1y05.select-1Pkeg4 { border-color: var(--level3); }
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6 { background-color: var(--level2); }
.cardWrapper-2Min21 { background-color: var(--level2); }
.card-3AyPWq:hover { background-color: var(--level3); }
.css-15ejc46-control { border: none; background-color: var(--level2); }
.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC { background-color: var(--level2); border: none; }
.theme-dark .footer-3rDWdC { background-color: var(--level2); }
.theme-dark .bar-2Qqk5Z { background-color: var(--level2); }
.theme-dark .bda-slist li { background-color: var(--level2); }
.bda-slist .bda-footer button { background: var(--accent); }
.bd-pfbtn { background: var(--accent); }
.bda-slist .bda-footer a { color: var(--accent); }
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked { background: var(--accent); }
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch { background: var(--level2); }
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected { transition: all .05s ease-in-out; background-color: var(--level2); border-radius: 0; border-left: solid 2px var(--accent); height: 42px !important; padding-top: 10px; }
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover { background-color: var(--level2); }
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ { transition: all .05s ease-in-out; background-color: var(--level2); border-radius: 0; border-left: solid 2px var(--accent); }
#user-settings #bd-settings-sidebar .ui-tab-bar-item.selected::before, #user-settings .item-PXvHYJ.selected-3s45Ha::before { margin-top: 4px !important; }
.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover, .topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover { background-color: var(--level2); border-radius: 0; }
.themeDefault-24hCdX.valueChecked-m-4IJZ { background-color: var(--accent); }
.themeDefault-24hCdX { background-color: var(--level3); }
.wrapper-3jrx9n { border: 2px solid var(--accent) }
.selected-mKYnfr.option-n0icdO { background-color: var(--accent); }
.option-n0icdO { background-color: var(--level3); }
.disabled-3I9jyo { color: var(--level3); }
.barFill-23-gu- { background: var(--accent); }
.ghostPill-2-KUPM { padding: 11px 16px; }
.theme-dark .notDetected-33MY4s, .theme-light .notDetected-33MY4s { background-color: var(--level2); }
.theme-dark .item-3eFBNF { box-shadow: inset 0 -1px 0 0 var(--level3); }
.item-3eFBNF.selected-2DeaDa { background-color: var(--level2); }
.item-3eFBNF:focus, .item-3eFBNF:focus-within, .item-3eFBNF:hover { background-color: var(--level2); }
.accountBtn-2Nozo3 .accountBtnInner-sj5jLs { background-color: var(--level3); }




/* Theme Info */
    #app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div:nth-child(3) > div > div.contentRegion-3nDuYy > div > div > div > main > div > div.userSettingsAccount-2eMFVR {
        &::before {
            content: "";
            position: absolute;
            top: 55%;
            width: 15%;
            height: 15%;
            opacity: 1;
            background: url(https://i.imgur.com/rswLrUI.png) no-repeat;
            background-size: contain;
            animation: fadeInAnimation ease 2s; 
            animation-iteration-count: 1; 
            animation-fill-mode: forwards;
        }
    }
    #app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div:nth-child(3) > div > div.contentRegion-3nDuYy > div > div > div > main > div > div.userSettingsAccount-2eMFVR > h2 {
        &::after {
            content: "Rio - Minimalistic theme by Jonny™";
            display: block;
            color: white;
            white-space: pre;
            font-size: 35px;
            position: absolute;
            width: fit-content;
            pointer-events: all;
            top: 59.5%;
            left: 25%;
            animation: fadeInAnimation ease 2s; 
            animation-iteration-count: 1; 
            animation-fill-mode: forwards;
        }
        &::before {
            content:
                '                                                                                               Thank you for installing my theme.\A'
                'If you are having any issue with the theme, please join this server for support. (https://discord.gg/ZwV92Sn)\A'
                '      If you would like to stay up to date with theme theme and get the latest news, join the server above.\A'
                'If you need personal help with the theme, you may DM me, but it\'s not certain I will help you. (Jonny™#5484)\A'
                '--------------------------------------------------------------------------------------------------------------------------------------------------------------------\A'
                '                                                                              Theme Settings, config is located in main theme file.\A'
                '1) Accent color (--accent)\A'
                '2) Chat avatar size (--chat-avatar-size)\A'
                '3) Chat avatar shape (--chat-avatar-shape)\A'
                '4) Channel width closed (--channel-width)\A'
                '5) Channel width hovered (--channel-width-hover)\A'
                '6) Members width closed (--members-width)\A'
                '7) Members width hovered (--members-width-hover)\A'
                '8) Time wait before openeing the lists so there is no accidental opens that get in the way (--delay)'
                '8) Spacing between channels (--space-between-channels)\A'
                '9) Size of Server Icons (--HSL-size)\A'
                '10) Space between servers (--HSL-spacing)\A'
                '11) Server non hovered and selected shape (--HSL-roundness)\A'
                '12) Server hover shape (--HSL-roundnessHover)\A'
                '--------------------------------------------------------------------------------------------------------------------------------------------------------------------\A'
                '                                                                                                                             Theme Info:\A'
                'Version: 2.2.8\A'
                'Injection: Powercord\A'
                'Developer: Jonny™#5484\A'
                'Contributors: [HV]Kurasad#2521, KelsoKay™#6676';
            display: block;
            color: white;
            white-space: pre;
            font-size: 12px;
            line-height: 1.5rem;
            position: absolute;
            width: fit-content;
            pointer-events: all;
            top: 67%;
            left: 14%;
            margin-bottom: 5%;
            animation: fadeInAnimation ease 2s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
    }