.theme-dark .modal-yWgWj- {
    background-color: $level2 !important;
    .container-2XeR5Z {
        box-shadow: 0 0 7px 0 $accent;
        .tag-2gHSR7 {
            background-color: $accent;
        }
    }
    label.checkboxWrapper-SkhIWG.alignCenter-MrlN6q {
        background-color: $tp;
    }
    .checkbox-1ix_J3 {
        border-radius: 50px;
    }
    .checked-3_4uQ9 {
        background-color: $accent;
        border-color: $accent !important;
        polyline {
            stroke: white !important;
        }
    }
    .friend-3KALPe {
        border-radius: 0;
    }
    .friendSelected-1sa4bG {
        background-color: $level3;
        border-left: 2px solid $accent;
    }
    .lookFilled-1Gx00P.colorBrand-3pXr91 {
        background-color: $accent;
    }
}