.header-ykumBX { background-color: $level3; }
.messagesPopoutWrap-1MQ1bW { background-color: $level2; }
.footer-1kmXd4 { background-color: $level3; }
.messageGroupWrapper-o-Zw7G { background: $level1; }
.jumpButton-3DTcS_ { background-color: $accent; color: white; opacity: .5; }
.jumpButton-3DTcS_:hover { background-color: $accent; color: white; opacity: 1; }