.searchBar-3dMhjb { background-color: $level3; }
.theme-dark .container-3ayLPN { background-color: $level2; box-shadow: none; }
.theme-dark .focused-2bY0OD { background-color: $level3; }
.theme-dark .dim-1l4L4y span { background-color: $accent; }
.theme-dark .option-96V44q:after { display: none; }
.theme-dark .option-96V44q.selected-rZcOL- { background-color: $level3; border-left: 2px solid $accent; border-radius: 0; }
.searchResultsWrap-2DKFzt { background-color: $level2; }
.channelName-1QajIf { padding: 11px 8px 11px 6px; color: white; background: linear-gradient(90deg, rgba(170, 40, 22, 0.44), $tp 67%); font-size: 14px; line-height: 6px; }
.channelSeparator-1X1FuH:before { border: none; }
.tab-2Ixsn0.selected-16te-P, .tab-2Ixsn0:hover { border-bottom: 2px solid $accent; }
.searchResult-3pzFAB:before { display: none; }
.searchResult-3pzFAB:after { display: none; }
.searchResultMessage-2VxO12.hit-NLlWXA { background-color: $level3; border: 1px solid $accent; box-shadow: none; box-shadow: 0 0px 7px 0 $accent }
.jumpButton-Ia2hRJ:hover{ background-color: $accent; opacity: 1; color: white; }
.jumpButton-Ia2hRJ { background-color: $accent; opacity: .5; color: white; }
.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 { background-color: $accent; }