 /* Dm Search Bubble */ @import url("https://monstrousdev.github.io/themes/addons/dmSearchBubble.css");

#app-mount > div.app-1q1i1E.da-app > div > div.layers-3iHuyZ.da-layers.layers-3q14ss.da-layers > div > div > div > div > div.sidebar-2K8pFh.da-sidebar > div.panels-j1Uci_.da-panels > div.container-1giJp5.da-container > div.inner-tyMogq.da-inner > div > a > div { max-width: 100px; }
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div > div > div.sidebar-2K8pFh > div.container-PNkimc > div.scrollerWrap-2lJEkd.scrollerThemed-2oenus.themeGhostHairline-DBD-2d.scrollerFade-1Ijw5y{ width: 104%; }
.text-2e2ZyG { display: none; }
.unreadBar-3YD_k9:before { content: 'New'; text-align: center; font-weight: 400; font-size: 10px; }
.unreadTop-73gZ2_ .unreadBar-3YD_k9:before { top: 5px; }
.unreadBottom-3hWQ7c .unreadBar-3YD_k9:before { top: 4px; }
.layout-2DM8Md { padding: 0; }
.privateChannels-1nO12o .layout-2DM8Md { margin-left: 10px; }
.container-1giJp5 { width: fit-content; }
.container-1giJp5 { border: none; }
.ping-2NgC8E { width: 31px; height: 25px; margin-right: 12px; margin-left: 1px; }
.rtcConnectionStatus-2-jIsi { margin-bottom: -30px; padding-bottom: 0; }
.content-3at_AU { padding: 0; border-radius: 0; margin: 0; }
.icon-1_QxNX { margin-left: 14px; margin-right: 10px; }
.list-2bwCXU { padding-left: 5px; }
.panel-24C3ux { padding-left: 12px; padding-top: 5px; height: 25px; }
.info-WdNIDE { margin-left: 15px; }
.activityPanel-28dQGo { border: none; }
div[class^=app-] div[class*=listeningAlong-] {
    margin: 0;
    padding-bottom: 6px;
    padding-top: 6px;
    border: none;
}
.container-PNkimc .icon-WnO6o2 { display: none; }
.name-IbjUBS {
    text-align: center;
    text-decoration: underline;
}
.container-PNkimc {
    .container-2ax-kl {
        color: var(--accent);
    }
    .wrapper-CU3qI5 {
        &:hover {
            .name-IbjUBS {
                color: var(--accent);
            }
        }
    }
}
.wrapper-CU3qI5 { padding-right: 17px; padding-left: 14px; }
.children-Bmpf2Q { margin-right: 5px; }
.containerDefault-3GGEv_, .containerDragAfter-3TEhpe, .containerDragBefore-3Dzc5x, .containerUserOver-1Tcb7l { padding-top: 5px; }
.sidebar-2K8pFh {
    width: var(--channel-width) !important;
    transition: all .5s ease-in-out;
    transition-delay: var(--delay);
    &:hover {
        width: var(--channel-width-hover) !important;
    }
}
.container-PNkimc {
    &:hover {
        width: 100% !important;
    }
}
/* Dm Search Bubble */
.privateChannels-1nO12o .scrollerWrap-2lJEkd::after { border: none; background-color: var(--level2); height: 0px; }
.privateChannels-1nO12o .scrollerWrap-2lJEkd .scroller-2FKFPG { margin-top: 0; }
#app-mount .privateChannels-1nO12o .searchBar-6Kv8R2 { position: absolute; bottom: 11px; right: 8px; height: 35px; width: 35px; background: var(--accent); }
#app-mount .privateChannels-1nO12o .searchBar-6Kv8R2 .searchBarComponent-32dTOx::after { width: 37px; }
#app-mount .privateChannels-1nO12o .searchBar-6Kv8R2 .searchBarComponent-32dTOx::before {
    content: 'Search Direct Messages';
    position: absolute;
    top: 47.5%;
    transform: translateY(-25%);
    width: 180px;
    bottom: 0;
    right: 0vw;
    color: white;
    opacity: .5;
    font-size: 12px;
    line-height: 100%;
    transition: all .2s ease-in-out;
    transition-delay: var(--delay);
    pointer-events: none;
}
.container-PNkimc { background-color: var(--level2) !important; }
.panels-j1Uci_ { background-color: var(--level3); }
.scroller-1JbKMe { background-color: var(--level2); }
.searchBar-6Kv8R2 { background-color: var(--level2); }
.searchBar-6Kv8R2 .searchBarComponent-32dTOx { background-color: var(--level3); }
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.da-layers.layers-3q14ss.da-layers > div > div > div > div > div.sidebar-2K8pFh.da-sidebar > div.panels-j1Uci_.da-panels > div.container-1giJp5.da-container > div.inner-tyMogq.da-inner > div > a > div { padding-left: 45px }
/* RPC Anim */
    .rtcConnectionStatus-2-jIsi .ping-2NgC8E rect:nth-child(1){ animation: internetRTCAnim 3.5s infinite linear; }
    .rtcConnectionStatus-2-jIsi .ping-2NgC8E rect:nth-child(2){ animation: internetRTCAnim 3s infinite linear; }
    .rtcConnectionStatus-2-jIsi .ping-2NgC8E rect:nth-child(3){ animation: internetRTCAnim 4s infinite linear; }
/* vc */
    .users-i_3-kL {
        background-color: var(--accent);
        color: var(--text-normal);
    }
    .total-3tKGEB {
        background-color: var(--level1);
        color: var(--text-normal);
        &::after {
            border-right-color: var(--level1);
        }
    }
    .avatarSpeaking-3MqCHL {
        box-shadow: 0px 0px 5px 1px var(--accent);
    }
/* Channel indicators */
    .channel-2QD9_O .layout-2DM8Md, .container-PNkimc .scroller-2FKFPG .scrollerWrap-2lJEkd .clickable-1JJAn8.container-2Pjhx-:active,
    .container-PNkimc .scroller-2FKFPG .scrollerWrap-2lJEkd .clickable-1JJAn8:active .layout-2DM8Md, .modeSelected-1zApJ_ .content-3at_AU, .modeSelected-1zApJ_:hover .content-3at_AU,
    .modeSelected-1zApJ_ .content-3at_AU, .modeSelected-1zApJ_:hover .content-3at_AU, .privateChannels-1nO12o .clickable-1JJAn8.container-2Pjhx-:hover,
    .privateChannels-1nO12o .clickable-1JJAn8.container-2Pjhx-:hover .muted-3mU76i .container-PNkimc .scroller-2FKFPG .scrollerWrap-2lJEkd .clickable-1JJAn8:hover .layout-2DM8Md,
    .peopleListItem-2nzedh.active-rhSpJJ, .peopleListItem-2nzedh:hover, .wrapper-1ucjTd:hover .content-3at_AU
        { border-radius: 0; }
    .privateChannels-1nO12o .scrollerWrap-2lJEkd .scroller-2FKFPG .selected-aXhQR6.container-2Pjhx-:before,
    .wrapper-1ucjTd.modeSelected-1zApJ_:before, .sidebar-CFHs9e .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:before
        { border-left: 2px solid var(--accent); }
    .modeSelected-1zApJ_ .content-3at_AU, .modeSelected-1zApJ_:hover .content-3at_AU { background: none !important; }
    .wrapper-1ucjTd.modeSelected-1zApJ_ { background-color: var(--mention) !important; }
    .wrapper-1ucjTd:hover .content-3at_AU { background: none !important; }
    .iconVisibility-1bOqu7.modeUnread-1zpFdA { background: transparent; }
    .iconVisibility-1bOqu7:hover { background-color: var(--mention); }
    .privateChannels-1nO12o .scrollerWrap-2lJEkd .scroller-2FKFPG .selected-aXhQR6.container-2Pjhx-:before { content: " "; position: absolute; height: 44px; top: 0; }
    .channel-2QD9_O { position: relative; margin-left: 0; max-width: 9999px; }
    .container-PNkimc .scroller-2FKFPG .scrollerWrap-2lJEkd .clickable-1JJAn8.container-2Pjhx-:active, .privateChannels-1nO12o .selected-aXhQR6.container-2Pjhx- { border-radius: 0; background: var(--mention) !important; }
    .privateChannels-1nO12o .selected-aXhQR6 .layout-2DM8Md { background: none !important; }
    .modeSelected-1zApJ_ .content-3at_AU, .modeSelected-1zApJ_:hover .content-3at_AU { background-color: var(--mention); }
    .wrapper-1ucjTd.modeSelected-1zApJ_:before { content: " "; position: absolute; }
    .unread-3zKkbm, .wrapper-1ucjTd.modeSelected-1zApJ_:before { height: 34px; bottom: .5px; }
    .unread-3zKkbm { background-color: var(--accent); width: 2px; border-radius: 0; left: 0; top: 0; margin-top: 0; }
    .iconVisibility-1bOqu7 .content-3at_AU { background: none !important; }
    .privateChannels-1nO12o .clickable-1JJAn8:hover .layout-2DM8Md { background: none !important; }
    .privateChannels-1nO12o .clickable-1JJAn8.container-2Pjhx-:hover, .privateChannels-1nO12o .clickable-1JJAn8.container-2Pjhx-:hover .muted-3mU76i { background: var(--mention); }