.emojiPicker-3m1S-j { flex-direction: row-reverse; border-radius:5px; box-shadow:var(--elevation-high); }
.emojiPicker-3m1S-j .categories-1feg4n { height: 400px; flex-direction:column; padding:0 8px; }
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq { margin:0; border:none; }
.emojiPicker-3m1S-j .header-1nkwgG { width:0; }
.emojiPicker-3m1S-j .header-1nkwgG .searchBar-2pWH0_ { position:absolute; bottom:-8px; left:40px; width:83%; }
.diversitySelector-tmmMv0 { position:absolute; bottom:10px; right:25px; margin:0; }
.popout-2nUePc {
    margin-top:-50px !important; margin-left:-155px !important; flex-direction:row !important; height:28px !important;
    padding:5px; box-shadow:var(--elevation-low) !important;}
.diversitySelector-tmmMv0 { background-image: none; width: 0; height: 0; display: none; }
.diversitySelector-tmmMv0 { background-image:url("/assets/9fa091f676e4451ee5946fed948cb8fe.svg") !important; }
.item-16cXuq[style*="assets/9fa091f676e4451ee5946fed948cb8fe.svg"] { background-image:none !important; }
.popout-2nUePc .item-16cXuq[style*="assets/9fa091f676e4451ee5946fed948cb8fe.svg"] { background-image:url("/assets/9fa091f676e4451ee5946fed948cb8fe.svg") !important; }
.emojiPicker-3m1S-j .scroller-3vODG7 { margin-top: 50px; height:295px !important; width:325px !important; }
.emojiPicker-3m1S-j .stickyHeader-1SS0JU { width:100%; }
.emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ { display:none; }
.infoBar-U6oBFk {
    position:absolute; border-radius:5px; width:85%; bottom:50px; left:50px; height:50px; margin-bottom: 293px; box-shadow:var(--elevation-high) !important;
    z-index:1; animation:emoteDescription 300ms ease; transition:250ms ease opacity; opacity:.9; }
.emojiPicker-3m1S-j .noSearchResultsContainer-3Dee0U { height:275px; width:325px; }
.emojiPicker-3m1S-j ::-webkit-scrollbar { display:none; }
.emojiPicker-3m1S-j { background-color: $level2; }
.infoBar-U6oBFk { background-color: $level3; }
.emojiPicker-3m1S-j .categories-1feg4n { background-color: $level3; }
.container-2XeR5Z { background-color: $level3; }