.members-1998pB {
    background-color: var(--level2);
    padding: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: var(--members-width);
    transition: all .5s ease-in-out;
    transition-delay: var(--delay);
    &:hover {
        width: var(--members-width-hover);
        .selected-aXhQR6 {
            .layout-2DM8Md {
                width: var(--members-width-hover);
            }
        }
    }
}
.membersWrap-2h-GB4 {
    min-width: 0;
    height: 84%;
    position: absolute;
    right: 0;
    margin-top: 3.5vh;
    .activity-2Gy-9S {
        max-width: 121px;
    }
    .member-3-YXUe {
        transition: all .5s ease-in-out;
        transition-delay: var(--delay);
        .mulitplePlaceholderUsername-pogq9I,
        .placeholderAvatar-damqh6,
        .placeholderUsername-2B_OA9 {
            background-color: var(--accent);
        }
    }
    &:hover {
        .member-3-YXUe {
            margin-left: 15px;
        }
    }
}